@font-face {
  font-family: "TenorSans";
  src: url("fonts/TenorSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "PoppinsMedium";
  src: url("fonts/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "PoppinsSemiBold";
  src: url("fonts/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Playfair";
  src: url("fonts/Playfair.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoThin";
  src: url("fonts/Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoMedium";
  src: url("fonts/Roboto-Medium.ttf") format("truetype");
}
.fc .fc-toolbar-title {
  font-size: 20px;
}
.fc .fc-toolbar {
  flex-wrap: wrap;
  gap: 0.5em;
}
.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0.75em;
}
.fc .fc-toolbar.fc-footer-toolbar {
  margin-top: 0.75em;
}
@media (max-width: 625px) {
  .fc .fc-toolbar {
    justify-content: center;
  }
}
.fc th {
  z-index: 1;
}
.fc .fc-view-harness-active > .fc-list {
  border-radius: 2em;
  overflow: hidden;
}
.fc .fc-list-day-cushion, .fc .fc-list-table td {
  padding: 8px 25px;
}
.fc .fc-cell-shaded {
  color: #222535;
}
.fc .fc-list .fc-event:hover {
  color: #222535;
}
.fc .fc-timegrid-event {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  cursor: pointer;
}
.fc .fc-timegrid-event > div {
  text-wrap: wrap;
}
.fc .fc-timegrid-event .time-to-go, .fc .fc-timegrid-event .event-type {
  line-height: 12px;
}
.fc .fc-timegrid-event .fc-timegrid-event-dot, .fc .fc-timegrid-event.fc-event-time {
  flex: 0 1 auto;
}
.fc .fc-timegrid-event .fc-event-time {
  font-size: 14px;
  line-height: 13px;
}
.fc .fc-timegrid-event .fc-event-title {
  font-size: 12px;
  line-height: 12px;
  flex: 1 1 100%;
  margin-top: 0.5em;
}
.fc .fc-list-empty {
  background-color: transparent;
}
.fc .fc-list-day-text {
  text-transform: capitalize;
}
.fc .fc-button {
  border-radius: 1em;
  border-width: 2px;
}
.fc .fc-button.fc-button-primary {
  background-color: rgb(20, 184, 166);
  border-color: rgb(45, 212, 191);
}
.fc .fc-button.fc-button-primary.fc-button-active, .fc .fc-button.fc-button-primary:focus {
  background-color: rgb(19, 148, 139);
  border-color: rgb(45, 212, 191);
  box-shadow: none !important;
}
.fc .fc-button.fc-editPlanning-button, .fc .fc-button.fc-listWeek-button, .fc .fc-button.fc-listDay-button {
  padding: 0.5em 1em;
}
.fc .fc-col-header-cell {
  color: #222535;
  font-weight: bold;
  background-color: white;
}
.fc .fc-col-header-cell.fc-day-disabled {
  background-color: #F1F1F1;
}
.fc .fc-timegrid-slot-label {
  font-weight: bold;
}

.fc-theme-standard .fc-list-day-cushion {
  color: #222535;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
  height: 100%;
  width: 100%;
  font-family: "TenorSans", sans-serif;
}

button {
  font-family: sans-serif;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.trip-country {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 0.25rem;
}

.trip-name {
  font-size: 1rem;
  line-height: 1rem;
  margin-bottom: 0.25rem;
}

.trip-image {
  image-rendering: pixelated;
}
.trip-image:before {
  content: "";
}

.budget-pastille {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.ql-toolbar {
  background-color: #fff;
  border-radius: 1em 1em 0 0;
}

.ql-container {
  background-color: #fff;
  border-radius: 0 0 1em 1em;
  color: black;
}
.ql-container .ql-editor {
  outline: unset;
  min-height: 9rem;
}

@media (prefers-color-scheme: dark) {
  .ql-container {
    background-color: rgba(59, 67, 92, 0.7607843137);
    color: white;
  }
  .ql-container .ql-editor.ql-blank::before {
    color: rgba(255, 255, 255, 0.6);
  }
}

/*# sourceMappingURL=app.css.map */
