@import "./fonts.scss";
@import "./planning.scss";

/* Tailwind CSS v4: define custom design tokens used across the app */
@theme {
  /* fonts */
  --font-playfair: "Playfair", serif;
  --font-tenor: "TenorSans", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-poppins-semi-bold: "PoppinsSemiBold", sans-serif;
  --font-roboto-thin: "RobotoThin", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-roboto-medium: "RobotoMedium", sans-serif;

  /* radius */
  --radius-4xl: 2rem;
  --radius-5xl: 2.5rem;
  --radius-8xl: 4em;

  /* colors */
  --color-body: #f3f4f6; /* approx Tailwind gray-100 */
  --color-body-dark: #212536;
  --color-box: #ffffff;
  --color-box-dark: #363C51;
  --color-border-box: #ffffff;
  --color-border-box-dark: #43495C;
  --color-notification: #f7f7f7;
  --color-notification-dark: #23283A;
  --color-notification-border-dark: #747A93;
  --color-shadow: #ffffff;
  --color-shadow-dark: #363d54;
}

/* Tailwind CSS v4: use the single import instead of v3 @tailwind directives */
@import "tailwindcss";

html, body {
   height: 100%;
   width: 100%;
   font-family: "TenorSans", sans-serif;
}

button {
   font-family: sans-serif;
}

select {
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
}

.trip-country {
   font-size: 1.25rem;
   line-height: 1.5rem;
   margin-bottom: 0.25rem;
}

.trip-name {
   font-size: 1rem;
   line-height: 1rem;
   margin-bottom: 0.25rem;
}

.trip-image {
   image-rendering: pixelated;

   &:before {
      content: '';
   }
}

.budget-pastille {
   width: 10px;
   height: 10px;
   border-radius: 100%;
}

.ql-toolbar {
   background-color: #fff;
   border-radius: 1em 1em 0 0;
}

.ql-container {
   background-color: #fff;
   border-radius: 0 0 1em 1em;
   color: black;

   .ql-editor {
      outline: unset;
      min-height: 9rem;
   }
}

@media (prefers-color-scheme: dark) {
   .ql-container {
      background-color: #3b435cc2;
      color: white;

      .ql-editor {
         &.ql-blank {
            &::before {
               color: rgba(255, 255, 255, 0.6);
            }
         }
      }
   }
}