@font-face {
    font-family: "TenorSans";
    src: url("fonts/TenorSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "PoppinsMedium";
    src: url("fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "PoppinsSemiBold";
    src: url("fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Playfair";
    src: url("fonts/Playfair.ttf") format("truetype");
}

@font-face {
    font-family: "RobotoThin";
    src: url("fonts/Roboto-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "RobotoMedium";
    src: url("fonts/Roboto-Medium.ttf") format("truetype");
}