.fc {
   .fc-toolbar-title {
      font-size: 20px;
   }

   .fc-toolbar {
      flex-wrap: wrap;
      gap: 0.5em;

      &.fc-header-toolbar {
         margin-bottom: 0.75em;
      }

      &.fc-footer-toolbar {
         margin-top: 0.75em;
      }
   }

   @media (max-width: 625px) {
      .fc-toolbar {
         justify-content: center;
      }
   }

   th {
      z-index: 1;
   }

   .fc-view-harness-active {
      > .fc-list {
         border-radius: 2em;
         overflow: hidden;
      }
   }

   .fc-list-day-cushion, .fc-list-table td {
      padding: 8px 25px;
   }

   .fc-cell-shaded {
      color: #222535;
   }

   .fc-list {
      .fc-event {
         &:hover {
            color: #222535;
         }
      }
   }

   .fc-timegrid-event {
      flex-wrap: wrap;
      display: flex;
      flex-direction: row;
      padding: 0.5em;
      cursor: pointer;

      > div {
         text-wrap: wrap;
      }

      .time-to-go, .event-type {
         line-height: 12px;
      }

      .fc-timegrid-event-dot, &.fc-event-time {
         flex: 0 1 auto;
      }

      .fc-event-time {
         font-size: 14px;
         line-height: 13px;
      }

      .fc-event-title {
         font-size: 12px;
         line-height: 12px;
         flex: 1 1 100%;
         margin-top: 0.5em;
      }
   }

   .fc-list-empty {
      background-color: transparent;
   }

   .fc-list-day-text {
      text-transform: capitalize;
   }

   .fc-button {
      border-radius: 1em;
      border-width: 2px;

      &.fc-button-primary {
         background-color: rgb(20, 184, 166);
         border-color: rgb(45, 212, 191);

         &.fc-button-active, &:focus {
            background-color: rgb(19, 148, 139);
            border-color: rgb(45, 212, 191);
            box-shadow: none !important;
         }
      }

      &.fc-editPlanning-button, &.fc-listWeek-button, &.fc-listDay-button {
         padding: 0.5em 1em;
      }
   }

   .fc-col-header-cell {
      color: #222535;
      font-weight: bold;
      background-color: white;

      &.fc-day-disabled {
         background-color: #F1F1F1;
      }
   }

   .fc-timegrid-slot-label {
      font-weight: bold;
   }
}

.fc-theme-standard {
   .fc-list-day-cushion {
      color: #222535;
   }
}